﻿html, body{
    margin: 0px;
}

/* Div content of seraching box style, with image background */
.header-image {
    background-image: url("https://c.pxhere.com/images/50/7b/bff50243f255e3b5e883ccf3091d-1569711.jpg!d");
    background-repeat: no-repeat;
    background-size: cover;
}

/* Style no padding */
.no-padding{
    padding: 0px;
}

/* Full width content in the screen */
.full-width{
    width: 100% !important;
    max-width: 100% !important;
}

/* div Content to 80% and centered in the screen */
.middle-width {
    width: 80% !important;
    max-width: 80% !important;
    margin: 0px auto;
}

/* Top space for content */
.top-space{
    padding-top: 5em;
}

/* Bottom space padding for content */
.bottom-space-padding {
    padding-bottom: 5em;
}

/* Bottom space margin for content */
.bottom-space-padding {
    margin-bottom: 5em;
}


/* Background of the search form */
.form-content{
    background-color: rgba(255, 255, 255, 0.80);
}

/* Style for form controls */
.form-control {
    display: inline-block;
    border: 1px solid;
    outline: none;
    width: 20%;
    font-size: 1.2em;
    margin: 5px;
}

/* Style for buttons */
.btn {
    background-color: #f9f9f9;
    border: 1px solid #c9c9c9;
    outline: none;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 1.2em;
    padding: 10px 12px;
}

/* Height for modal boxes */
.modal{
    height: auto !important;
}