﻿@model FlightFinder.Models.Flight

@{
    ViewData["Title"] = "Create";

    string DepartureStation = @Context.Request.Query["DepartureStation"];
    string ArrivalStation = @Context.Request.Query["ArrivalStation"];
    string DepartureDate = @Context.Request.Query["DepartureDate"];
    string Price = @Context.Request.Query["Price"];
    string Currency = @Context.Request.Query["Currency"];
}

<h1>Create</h1>

<h4>Flight</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DepartureStation" class="control-label"></label>
                <input asp-for="DepartureStation" class="form-control" value="@DepartureStation" />
                <span asp-validation-for="DepartureStation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArrivalStation" class="control-label"></label>
                <input asp-for="ArrivalStation" class="form-control" value="@ArrivalStation" />
                <span asp-validation-for="ArrivalStation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartureDate" class="control-label"></label>
                <input asp-for="DepartureDate" class="form-control" value="@DepartureDate" />
                <span asp-validation-for="DepartureDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" value="@Price" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Currency" class="control-label"></label>
                <input asp-for="Currency" class="form-control" value="@Currency" />
                <span asp-validation-for="Currency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
