﻿
@{
    ViewData["Title"] = "Values";
}

<div class="text-center header-image margin-header full-width top-space bottom-space-padding">
    <div class="row form-content top-space bottom-space-padding middle-width ">
        <div class="col-md-12">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <div class="input-field col s12 m4">
                        <select name="origin" id="origin">
                            <option value="" disabled selected>Origen</option>
                            <option value="BOG">Bogotá</option>
                            <option value="MDE">Medellín</option>
                            <option value="CTG">Cartagena</option>
                            <option value="PEI">Pereira</option>
                        </select>
                    </div>
                    <div class="input-field col s12 m4">
                        <select name="destination" id="destination">
                            <option value="" disabled selected>Destino</option>
                            <option value="BOG">Bogotá</option>
                            <option value="MDE">Medellín</option>
                            <option value="CTG">Cartagena</option>
                            <option value="PEI">Pereira</option>
                        </select>
                    </div>
                    <div class="input-field col s12 m4">
                        <input class="datepicker" type=text name="date" id="date" required>
                    </div>
                </div>
                <button class="btn btn-sm btn-primary" id="searchFlights">Buscar Vuelos</button>
        </div>
    </div>
</div>

<div class="middle-width bottom-space-padding" id="resultConten">
    <h2>Vuelos</h2>
    <table class="table table-sm table-striped table-bordered m-2" id="Table">
        <thead>
            <tr>
                <th>Origen</th>
                <th>Destino</th>
                <th>Fecha</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>